@import url(/public/lib/Roboto.css);

*{    
    color: #eeeeee;
    font-family: Roboto;
    font-weight: 100;
}

::selection{
    background:#a0bcf02d
}

body{
    background-color: #121212;
    padding: 0px;
}

::-webkit-scrollbar{
    background: #121212;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:#b6b6b66c;
    border-radius: 3px;
}

.title-wrapper{
    display: grid;
    place-items: center;
}

.title-wrapper a{
    text-decoration: none;
}

.title {
    font-family: Roboto;
    font-weight: 100;
    font-size: 65px;
    text-align: center;
}

.underline-wrapper{
    display: grid;
    place-items: center;
}

.underline-animation{
    background-color: #eeeeee;
    border-radius: 0px;
    height: 2px;
    width: 0%;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.title:hover .underline-animation{
    width: 100%;
}