@import url(/public/lib/Roboto.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css);

:root{
    --primary-color: #eee;
    --logo-screen-color: rgb(76, 201, 243);
}

*{    
    color: #eeeeee;
    font-family: Roboto;
    font-weight: 100;
}

::selection{
    background:#a0bcf02d
}

body{
    background-color: #121212;
    padding: 0px;
}

::-webkit-scrollbar{
    background: #121212;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:#b6b6b66c;
    border-radius: 3px;
}

.title-wrapper{
    display: grid;
    place-items: center;
}

.title-wrapper a{
    text-decoration: none;
}

.title {
    font-family: Roboto;
    font-weight: 100;
    font-size: 70px;
    text-align: center;
}

.title svg{
    height: 1.4em;
}

.underline-wrapper{
    display: grid;
    place-items: center;
}

.underline-animation-wrapper{
    width: 100%;
}

.underline-animation{
    background-color: #eeeeee;
    border-radius: 0px;
    height: 1px;
    width: 0%;
    transition-duration: 400ms;
    transition-timing-function: ease;
    margin-left: auto;
    margin-right: auto;
}

.underline-animator:hover .underline-animation{
    width: 100%;
}

a {
    text-decoration: none;
}

/* FIXME: Fix the stupid logo shit div sizing cool responsive*/

.remode-logo-o-container{
    /* width: calc(2rem * var(--window-aspect-ratio));
    min-width: 1rem;
    max-width: 2.3rem;
    box-sizing: border-box; */
    display: inline-block;
    width: 1rem;
    height: 2rem;
}

.remode-logo-o{
    color: #fff0;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: rgba(118, 255, 255, 0.685);
    /* position: relative;
    top: 17px; */
    height: 100%;
}

