*{
    font-family: "Roboto";
}

html,body,.main-container{
    height: 100%;
}

body{
    background-color:#121212;
    color:white;
    margin:0px;
}

.main-container{
    display:flex;
    flex-direction: column;
}

.input{
    flex-grow: 95;
    background-color:#202020;
    border-radius:8px;
    display: flex;
    flex-direction: column;
}

#keyboardInput{
    flex-grow:90;
    margin: 10px;
    background: #ffffff3d;
    border-radius: 8px;
    font-size:30px;
    text-align: center;
}

#passwordInput{
    flex-grow:3;
    margin: 10px;
    background: #ffffff3d;
    border-radius: 8px;
    font-size:15px;
    /* text-align: center; */
}

#keyboardInput:focus, #passwordInput:focus{
    outline: none;
    transition-duration: 500ms;
    background: #ffffff57;
}

#statusContainer{
    margin-bottom: 0.5%;
    flex-grow: 1;
    border-radius: 8px;
    background-color:#50505091;
    padding:5px;
    display:flex;
}

#statusContainer *{
    font-size: 3.5vh;
    margin: auto;
    margin-left: 0px;
    width: max-content;
    text-align: center;
}

#statusContainer button{
    background:#b8b8b841;
    padding:0px;
    margin: 0px;
    margin-right: 20px;
    border-radius: 5px;
    border:none;
}

.extra-keys{
    border-radius:8px;
    flex-grow: 5;
    margin: 0px 10px;
    padding:0px;
    background: #ffffff3d;
    display: flex;
    flex-direction: row;
}
.extra-keys:focus{
    transition-duration: 500ms;
    background: #ffffff57;
}

.extra-keys button{
    min-height: auto;
    flex-grow: 1;
    border-radius: 8px;
    margin: 5px;
}