@import url(/public/default/res/css/default.css);

.mod-menu-wrapper{
    display: grid;
    place-items: center;
}

.mod-menu{
    background-color: #00000032;
    margin-top: 10px;
    display: grid;
    place-items: center;
    width: 90%;
}

.mod-menu-title{
    font-size: 30px;
    padding: 5px 40px;
    text-align: center;
}

#modMenuList{
    width : 100%;
    display: grid;
    grid-template-columns: 100%;
    
}

@media(min-width: 690px){
    #modMenuList{
        grid-template-columns: repeat(2,50%);
    }
}

@media(min-width: 1050px){
    #modMenuList{
        grid-template-columns: repeat(3,33%);
    }
}

.mod-link{
    text-decoration: none;
}

.mod-element-wrapper{
    height: 100%;
    width: 100%;
}

.mod-element{
    width: 280px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #eeeeee;
}

.mod-icon{
    float: left;
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.mod-info{
    height: 70px;
}

.mod-title{
    font-size:1.3em;
}

.mod-title-underline-wrapper{
    display: grid;
    place-items: center;
}

.mod-title-underline-animation{
    background-color: #eeeeee;
    border-radius: 0px;
    height: 1px;
    width: 0%;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.mod-element:hover .mod-title-underline-animation{
    width: 100%;
}

.mod-description{
    font-size: 0.8em;
}

.remode-logo-o-container{
    width: calc(3rem * var(--window-aspect-ratio));
    max-width: 4rem;
    min-width: 2rem;
    height: 100px;
}

.remode-logo-o{
    height: 3.7rem;
}