@import url(/public/lib/Roboto.css);

*{    
    color: #eeeeee;
    font-family: Roboto;
    font-weight: 100;
}

::selection{
    background:#a0bcf02d
}

body{
    background-color: #121212;
    padding: 0px;
}

.title-wrapper{
    display: grid;
    place-items: center;
}

.title-wrapper a{
    text-decoration: none;
}

.title {
    font-family: Roboto;
    font-weight: 100;
    font-size: 65px;
    text-align: center;
}

.underline-wrapper{
    display: grid;
    place-items: center;
}

.underline-animation{
    background-color: #eeeeee;
    border-radius: 0px;
    height: 2px;
    width: 0%;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.title:hover .underline-animation{
    width: 100%;
}

.mod-menu-wrapper{
    display: grid;
    place-items: center;
}

.mod-menu{
    background-color: #00000032;
    margin-top: 10px;
    display: grid;
    place-items: center;
    width: 90%;
}

.mod-menu-title{
    font-size: 30px;
    padding: 5px 40px;
    text-align: center;
}

#modMenuList{
    width : 100%;
    display: grid;
    grid-template-columns: 100%;
    
}

@media(min-width: 690px){
    #modMenuList{
        grid-template-columns: repeat(2,50%);
    }
}

@media(min-width: 1050px){
    #modMenuList{
        grid-template-columns: repeat(3,33%);
    }
}

.mod-link{
    text-decoration: none;
}

.mod-element-wrapper{
    height: 100%;
    width: 100%;
}

.mod-element{
    height: 70px;
    width: 280px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #eeeeee;
}

.mod-icon{
    float: left;
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.mod-info{
    height: 70px;
}

.mod-title{
    font-size:1.3em;
}

.mod-title-underline-wrapper{
    display: grid;
    place-items: center;
}

.mod-title-underline-animation{
    background-color: #eeeeee;
    border-radius: 0px;
    height: 1px;
    width: 0%;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.mod-element:hover .mod-title-underline-animation{
    width: 100%;
}

.mod-description{
    font-size: 0.8em;
}