@import url(/public/default/res/css/default.css);

*{
    font-weight: 300;
}

html,body,.main-container{
    height: 100%;
}

body{
    margin:0px;
}

.main-container{
    display:flex;
    flex-direction: column;
}

.input{
    flex-grow: 95;
    background-color: #0e0e0e4f;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
}

#keyboardInput{
    transition-duration: 200ms;
    flex-grow:90;
    margin: 10px;
    background: #31313124;
    border: 1px solid #eeeeee;
    font-size:30px;
    text-align: center;
}

.password-div{
    display: flex;
    flex-grow:3;
    margin: 10px;
    flex-direction: row;
}

#passwordInput{
    flex-grow: 9;
    background: #31313124;
    border: 1px solid #eeeeee;
    font-size:15px;
    /* text-align: center; */
}

#keyboardInput:focus, #passwordInput:focus{
    outline: none;
    transition-duration: 500ms;
    background: #4e4e4e57;
}

#statusContainer{
    margin-bottom: 0.5%;
    flex-grow: 1;
    border-radius: 8px;
    background-color:#50505091;
    padding:5px;
    display:flex;
}

#statusContainer *{
    font-size: 3.5vh;
    margin: auto;
    margin-left: 0px;
    width: max-content;
    text-align: center;
}

#statusContainer button{
    background:#b8b8b841;
    padding:0px;
    margin: 0px;
    margin-right: 20px;
    border-radius: 5px;
    border:none;
}

.extra-keys{
    flex-grow: 5;
    margin: 0px 10px;
    padding:0px;
    display: flex;
    flex-direction: row;
}


.extra-keys toggleable-element{
    display: grid;
    place-items: center;
    min-height: 30px;
    flex-grow: 1;
    margin: 5px;
    background-color:#242424;
    background: #ffffff57;
    border: 1px solid #eeeeee;
    transition-duration: 200ms;
}

.extra-keys toggleable-element[state="on"]{
    border: 4px solid #eeeeee;
    outline: none;
}