body {
    margin: 0;
    padding: 0;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    background: #fff3;
}


.loading-container>img {
    padding-top: 20vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-container {
    height: 64px;
    background-color: rgba(68, 75, 72, 0.212);
}

.toolbar-content{
    box-sizing: border-box;
    height: 64px;
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
}

.sidebar-toogle-button{
    transition: background-color 200ms;
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

.sidebar-toogle-button:hover{
    background-color: #fff2;
}

#modContainer {
    flex-grow: 17;
    width: 100%;
}

#modContainer>iframe {
    height: 100%;
    width: 100%;
    border: 0px;
}

.sidebar-container {
    --sidebar-width: 240px;
    --sidebar-offset: 1;
    /* --sidebar-offset: -1 is closed, 1 is open*/
    transition: left 200ms;
    position: absolute;
    top: 0;
    left: calc( var(--sidebar-width) * (var(--sidebar-offset) / 2 - 0.5));
    width: var(--sidebar-width);
    height: 100vh;
    background-color: aqua;
}

.sidebar-exit-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: calc(100 * var(--sidebar-offset));
    opacity: calc(1 * (var(--sidebar-offset) / 2 + 0.5));
    background-color: rgba(196, 217, 255, 0.103);
}

.sidebar-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #363636;
    z-index: 101;
    display: flex;
    flex-direction: column;
}

.sidebar-menu-item {
    width: auto;
    margin: 0px 16px;
    height: 40px;
    background-color: #fff0;
    transition: background-color 200ms;
}

.sidebar-menu-item:hover {
    background-color: #fff2;
}

.sidebar-menu-logo {
    margin: 16px 8px;
    text-align: center;
    font-size: 2rem;
}

.sidebar-menu-logo:hover{
    background-color: #eee0;
}

.sidebar-menu-item:nth-child(2) {
    margin-top: 8px;
}

.remode-logo-o-container{
    font-size: 1.6rem;
}


/* .loading-three-dots{
    animation: loadingDots 1s linear infinite alternate; 
}

@keyframes loadingDots {
    0%{
        content: ".";
    }
    33%{
        content: "..";
    }
    66%{
        content: "...";
    }
} */